<div id="edit_entry_wrapper">

  <!-- HEADER -->
  <div class="modal-header">
      <h4 id="edit_entry_title"></h4>
  </div>

  <!-- BODY -->
  <div class="modal-body">

      <!-- FLUID FORM -->
      <f:form action="update" method="post" enctype="multipart/form-data" controller="Entry" name="entry" object="{detailedEntry}">

      <!-- RENDER INPUT FIELDS -->
      <f:render partial="Entry/EditEntry" arguments="{detailedEntry : detailedEntry}"/>

  </div>

  <div class="modal-footer">

      <!-- SUBMIT BUTTON -->
      <f:form.submit value="Eintrag speichern" class="btn btn-primary"/>

      <!-- DELETE ENTRY BUTTON -->
      <f:link.action class="btn btn-danger" action="delete" controller="Entry" arguments="{entry:detailedEntry.uid}">Eintrag löschen</f:link.action>

      <!-- BACK TO CALENDAR BUTTON -->
      <f:link.action action="show" controller="Calendar" class="btn btn-default">Zurück zum Kalender</f:link.action>

      <!-- CLOSE FORM -->
      </f:form>
  </div>
</div>

<!-- CHANGE THE EDIT ENTRY TITLE -->
<script>

  var title = $('input[name="tx_kical_fecal[entry][entryTitle]"]').val();
  var visitor = $('input[name="tx_kical_fecal[entry][visitor]"]').val();

  if(title != '') {

    $('h4').html('Bearbeiten von "' + title + '" (' + $('input[name="tx_kical_fecal[entry][entryDate]"]').val() + ')');
  }else {

    $('h4').html('Bearbeiten von "' + visitor + '" (' + $('input[name="tx_kical_fecal[entry][entryDate]"]').val() + ')');
  }

</script>
