<!-- JQUERY -->
<script src="{f:uri.resource(path:'Scripts/jquery-2.2.2.min.js')}"></script>

<!-- JQUERY UI -->
<script src="{f:uri.resource(path:'Scripts/jquery-ui-1.11.4/jquery-ui.min.js')}"></script>
<link href="{f:uri.resource(path:'Scripts/jquery-ui-1.11.4/jquery-ui.min.css')}" type="text/css" rel="stylesheet">

<!-- BOOTSTRAP SOURCE FILES -->
<link href="{f:uri.resource(path:'Scripts/bootstrap-3.3.6/css/bootstrap.min.css')}" type="text/css" rel="stylesheet">
<link href="{f:uri.resource(path:'Scripts/bootstrap-3.3.6/css/bootstrap-theme.min.css')}" type="text/css" rel="stylesheet">
<script src="{f:uri.resource(path:'Scripts/bootstrap-3.3.6/js/bootstrap.min.js')}"></script>
<script src="{f:uri.resource(path:'Scripts/bootstrap-3.3.6/js/npm.js')}"></script>

<!-- MOMENT.JS -->
<script src="{f:uri.resource(path:'Scripts/moment.js')}"></script>

<!-- AVGRUND.JS -->
<script src="typo3conf/ext/ki_cal/Resources/Public/Scripts/avgrund-master/js/avgrund.js"></script>
<link href="{f:uri.resource(path:'Scripts/avgrund-master/css/avgrund.css')}" type="text/css" rel="stylesheet">

<!-- KI_CAL SOURCE FILES -->
<link href="{f:uri.resource(path:'CSS/Calendar.css')}" type="text/css" rel="stylesheet">
<script src="typo3conf/ext/ki_cal/Resources/Public/Scripts/CreateCalendarView.js"></script>
<script src="typo3conf/ext/ki_cal/Resources/Public/Scripts/NewEntry.js"></script>

<!-- Print all found entries -->
<h2>Gefundene Einträge</h2><br />
<f:for each="{queryResult}" as="result">
  <ul class="searchResult">
    <li><h4>{result.entryTitle}</h4></li>
    <li><b>Datum:</b> <span class="date">{result.entryDate}</span></li>
    <li><b>Beschreibung:</b> {result.description}</li>
    <li><b>Start-Zeit:</b> {result.startTime}</li>
    <li><b>End-Zeit:</b> {result.endTime}</li>
    <li><b>Besucher:</b> {result.visitor}</li>
    <li><b>Firma:</b> {result.company}</li>
    <li><b>Kontakt:</b> {result.contact}</li>
    <li><b>Öffentlich:</b> {result.public}</li>
    <li><b>Bild:</b> <img src='{result.image}' alt='Kein Bild vorhanden.' width='200px' /></li>
  </ul>
  <hr>
  <br />
</f:for>

<f:link.action action="show" controller="Calendar" class="btn btn-default">Zurück zum Kalender</f:link.action>

<!-- Adjust date format -->
<script>

  $(".date").html(moment($(".date").html()).format("DD.MM.YYYY"));
</script>
