<!-- Input fields for editing an entry -->

<!-- JQUERY -->
<script src="{f:uri.resource(path:'Scripts/jquery-2.2.2.min.js')}"></script>

<!-- JQUERY UI -->
<script src="{f:uri.resource(path:'Scripts/jquery-ui-1.11.4/jquery-ui.min.js')}"></script>
<link href="{f:uri.resource(path:'Scripts/jquery-ui-1.11.4/jquery-ui.min.css')}" type="text/css" rel="stylesheet">

<!-- BOOTSTRAP SOURCE FILES -->
<link href="{f:uri.resource(path:'Scripts/bootstrap-3.3.6/css/bootstrap.min.css')}" type="text/css" rel="stylesheet">
<link href="{f:uri.resource(path:'Scripts/bootstrap-3.3.6/css/bootstrap-theme.min.css')}" type="text/css" rel="stylesheet">
<script src="{f:uri.resource(path:'Scripts/bootstrap-3.3.6/js/bootstrap.min.js')}"></script>
<script src="{f:uri.resource(path:'Scripts/bootstrap-3.3.6/js/npm.js')}"></script>

<!-- MOMENT.JS -->
<script src="{f:uri.resource(path:'Scripts/moment.js')}"></script>

<!-- AVGRUND.JS -->
<script src="typo3conf/ext/ki_cal/Resources/Public/Scripts/avgrund-master/js/avgrund.js"></script>
<link href="{f:uri.resource(path:'Scripts/avgrund-master/css/avgrund.css')}" type="text/css" rel="stylesheet">

<!-- KI_CAL SOURCE FILES -->
<link href="{f:uri.resource(path:'CSS/Calendar.css')}" type="text/css" rel="stylesheet">
<script src="typo3conf/ext/ki_cal/Resources/Public/Scripts/CreateCalendarView.js"></script>
<script src="typo3conf/ext/ki_cal/Resources/Public/Scripts/NewEntry.js"></script>

<label for="entryTitle">Titel</label>
<br />
<f:form.textfield property="entryTitle" class="form-control toValidate" value='{detailedEntry.entryTitle}' />
<br />
<label for="description">Beschreibung</label>
<br />
<f:form.textfield property="description" class="form-control toValidate" value='{detailedEntry.description}' />
<br />
<label for="entryDate">Datum</label>
<br />
<f:form.textfield property="entryDate" class="form-control datepickerInputField datepicker toValidate" value='{detailedEntry.entryDate}' />
<br />
<label for="startTime">Start-Zeit</label>
<br />
<f:form.textfield property="startTime" class="form-control toValidate" value='{detailedEntry.startTime}' />
<br />
<label for="entryDate">End-Zeit</label>
<br />
<f:form.textfield property="endTime" class="form-control toValidate" value='{detailedEntry.endTime}' />
<br />
<div style="border-bottom: 1px solid #EBEBEB"></div>
<br />
<label for="entryDate">Besucher</label>
<br />
<f:form.textfield property="visitor" class="form-control toValidate" value='{detailedEntry.visitor}' />
<br />
<label for="entryDate">Firma</label>
<br />
<f:form.textfield property="company" class="form-control toValidate" value='{detailedEntry.company}' />
<br />
<label for="entryDate">Kontakt</label>
<br />
<f:form.textfield property="contact" class="form-control toValidate" value='{detailedEntry.contact}' />
<br />
<div style="border-bottom: 1px solid #EBEBEB"></div>
<br />
<label for="entryDate">Öffentlich</label>
<br />

<!-- Check if field "public" is set on 1 or 0 -->
<f:if condition="{detailedEntry.public}!==0">
    <f:then>
        <f:form.checkbox id='publicSelector' property="public" class="form-control" value='1' checked='{detailedEntry.public} == 1' />
    </f:then>
    <f:else>
        <f:form.checkbox property="public" class="form-control" value='1' />
    </f:else>
</f:if>

<!-- Replace the current image or add a new one -->
<br />
<label for="entryDate">Bild anhängen</label>
<br />
<f:form.upload name="image" />
<br />

<!-- Attached image -->
<img src='{detailedEntry.image}' width='200px' />

<!-- Validate the values of the input fields -->
<script src="typo3conf/ext/ki_cal/Resources/Public/Scripts/ValidateInputValues.js"></script>

<script>
    // Change the regional place and the format of the datepicker
    $.datepicker.setDefaults($.datepicker.regional["de"]);
    $('.datepicker').datepicker({
        dateFormat: 'dd.mm.yy'
    });

    // Convert the database format to the german format
    $(".datepickerInputField").val(moment($(".datepickerInputField").val()).format("DD.MM.YYYY"));

    // Validate values on input
    $('.toValidate').keypress(function() {
        validateEntryValues($(this), 'edit_entry');
    });

    // Validate on tab
    $('.toValidate').keyup(function() {
        validateEntryValues($(this), 'edit_entry');
    });
</script>
