<label for="entryTitle">Titel</label>
<br />
<f:form.textfield property="entryTitle" class="form-control" />
<br />
<label for="description">Beschreibung</label>
<br />
<f:form.textfield property="description" class="form-control" />
<br />
<label for="entryDate">Datum</label>
<br />
<f:form.textfield property="entryDate" class="form-control datepickerInputField" />
<br />
<label for="startTime">Start-Zeit</label>
<br />
<f:form.textfield property="startTime" class="form-control" />
<br />
<label for="entryDate">End-Zeit</label>
<br />
<f:form.textfield property="endTime" class="form-control" />
<br />
<div style="border-bottom: 1px solid #EBEBEB"></div>
<br />
<label for="entryDate">Besucher</label>
<br />
<f:form.textfield property="visitor" class="form-control" />
<br />
<label for="entryDate">Firma</label>
<br />
<f:form.textfield property="company" class="form-control" />
<br />
<label for="entryDate">Kontakt</label>
<br />
<f:form.textfield property="contact" class="form-control" />
<br />
<div style="border-bottom: 1px solid #EBEBEB"></div>
<br />
<label for="entryDate">Öffentlich</label>
<br />
<f:form.checkbox value="1" property="public" class="form-control" />
<br />
<label for="entryDate">Bild anhängen</label>
<br />
<f:form.upload property="image" name="image" />
<br />
