
<!-- EDIT ENTRY MODAL -->
	<!-- Wrapper -->
	<div>

		<!-- Header of modal -->
		<div class="modal_header">
			<h4>Eintrag bearbeiten</h4>
		</div>

		<!-- Body of modal -->
		<div class="modal_body">
			<f:form action="update" method="post" enctype="multipart/form-data" controller="Event" name="event" object="{detailedEntry}">

				<!-- Get input fields -->
				<f:render partial="Event/EditEvent" arguments="{detailedEntry : detailedEntry}"/>
		</div>

		<!-- Footer of modal -->
		<div class="modal_footer">

			<!-- submit button -->
			<f:form.submit value="Eintrag speichern" class="btn btn-primary" />

			<f:link.action class="btn btn-danger" action='delete' controller='Event' arguments="{event:detailedEntry.uid}">Eintrag löschen</f:link.action>

			<f:link.action action="show" controller="Calendar" class="btn btn-default">Zurück zum Kalender</f:link.action>

			</f:form>

		</div>

	</div>
<!-- EDIT ENTRY MODAL END -->
